header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

header h1 {
  font-size: calc(30px + 1vw);
}

main {
  padding: 2vw;
}

main h2 {
  font-size: calc(20px + 1vw);
  padding: 1vw;
}

main p {
  font-size: calc(15px + 0.5vw);
}

main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main img {
  max-width: 400px;
  margin-bottom: 0.5vw;
  margin-top: 2vw;
}

.caption {
  font-size: calc(10px + 0.2vw);
  margin-bottom: 5vh;
}
