header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

header h1 {
  font-size: calc(30px + 1vw);
}

main {
  padding: 2vw;
}

main h2 {
  font-size: calc(20px + 1vw);
  padding: 1vw;
  text-align: center;
  line-height: 50px;
  position: relative;
  animation: moveUpDown 2s ease-in-out infinite;
}

main p {
  font-size: calc(15px + 0.5vw);
}

main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main img {
  max-width: 400px;
  margin-bottom: 10vh;
}

.caption {
  font-size: calc(10px + 0.2vw);
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0); /* Start and end position */
  }
  50% {
    transform: translateY(
      -20px
    ); /* Middle position, adjust this value as needed */
  }
}
