
/* .sliderimg {
  width: 100%;
  height: 500px;
  object-fit: cover
} */
/* 
.alice-carousel__stage-item {
  margin-left: 10vw;
  margin-right: 10vw;
  width: fit-content;
}

.alice-carousel__stage {
  margin: auto;
  width: fit-content;
}

.alice-carousel__stage-item.__active {
  width: fit-content;
} */