.image {
  max-width: 400px;
  margin-right: 2vw;
  margin-bottom: 0;
  margin-top: 1vh;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1vw;
  margin-bottom: 1vw;
}

.name-address {
  height: 100%;
  align-items: flex-start;
  margin-right: 2vw;
}

.name-address h2 {
  padding: 0;
}

.name {
  padding: 0;
}

.address {
  margin-bottom: 1vw;
  font-size: calc(12px + 0.5vw);
}

@media screen and (max-width: 900px) {
  .content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .image {
    margin-bottom: 2vh;
  }

  .name {
    margin-right: 0;
  }
}
